
@{
    ViewBag.Title = "Administrateur";
}

<h2>Bienvenue l'administrateur</h2>

@Html.ActionLink("liste de tout les utilisateurs", "ListAllUser","Admin")
@Html.ActionLink("Liste des agents", "ListAllAgents","Admin")

