body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.my-nav{
background-color : forestgreen;
}

.my-nav .navbar-brand {
        color: aliceblue;
 }

.my-nav .navbar-brand:hover {
 color: aquamarine;
 }

.my-nav .nav-link {
        color: aliceblue ;
}

.my-nav .nav-link:hover {
   color: aquamarine;
}*/

/*for image*/
.gallery {
    margin: 10px 50px;
}

.gallery div {
        transition: 1s;
        /*padding: 15px;
        width: 200px;*/
    }

.gallery  div:hover {
  filter: grayscale(50%);
  transform: scale(1.05);
  }

/*for détails job*/
.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

    .checked, .price span {
        color: #ff9f1a;
    }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}
.price span {
    color: #ff9f1a;
}
.box {
    background: #fff;
    border-radius: 4px;
    padding-bottom: 100%;
}

.box .col-lg-2 {
        margin-top: 30px !important;
    }

div.panel-body {
    overflow: scroll;
    background: url('http://subtlepatterns.com/patterns/geometry2.png');
}


