

/*Css template adama*/
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

/*Reset*/
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    color: #1f4568;
}

body {
    background-image: url("https://image.ibb.co/de6JzG/bitmap_1_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* colors 8a3aff, 6f79ff, 3a9fff black-> 1f4568  grey->8198ae*/
.sect {
    padding: 90px 0;
    position: relative;
}


.collapse {
    display: block;
}

.sect--grey {
    /*background-color: #ebeff9;*/
}

.sect--violet {
    background-color: #6f79ff;
}

.sect--padding-bottom {
    padding-bottom: 115px;
}

.sect--padding-top {
    padding-top: 90px;
}

.sect--white {
    /* background-color:#fff;*/
}

.row--center {
    max-width: 1000px;
    margin: 0 auto;
}

.row--margin {
    margin-top: 45px;
}

.row__title {
    text-align: center;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0px;
}

.row__sub {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
    color: #8198ae;
}

.bbox-box {
    padding: 0px 25px;
}

.bbox-box__wrap {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2); /*0px 22px 20px -10px rgba(0, 0, 0,0.2)*/
    padding: 35px 35px 40px 35px;
    text-align: center;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.bbox-box__img {
    display: inline-block;
}

.bbox-box__img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.bbox-box--purple .bbox-box__img {
    background-image: url("https://image.ibb.co/iGjEKG/1.png");
}


.bbox-box--violet .bbox-box__img {
    background-image: url("https://image.ibb.co/iyT8eG/2.png");
}

.bbox-box--blue .bbox-box__img {
    background-image: url("https://preview.ibb.co/nDRpmw/3.png");
}

.bbox-box__title {
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 4px;
}

.bbox-box__people {
    font-size: 12px;
    color: #8198ae;
    font-weight: 300;
    letter-spacing: 1px;
}

.bbox-box__discount {
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 0;
}

.bbox-box__dollar {
    font-size: 18px;
    font-weight: 400;
    vertical-align: top;
    margin-right: 4px;
}

.bbox-box--purple .bbox-box__dollar {
    color: #8a3aff;
}

.bbox-box--violet .bbox-box__dollar {
    color: #6f79ff;
}

.bbox-box--blue .bbox-box__dollar {
    color: #3a9fff;
}

.bbox-box__discount--light {
    font-weight: 400;
    font-size: 20px;
    margin-left: 3px;
}

.bbox-box__bbox {
    margin-top: 3px;
    font-size: 14px;
    color: #8198ae;
    letter-spacing: 1px;
    margin-bottom: 0;
    font-weight: 300;
    text-decoration: line-through;
}

.bbox-box__feat {
    margin-top: 30px;
    font-size: 16px;
}

.bbox-box__list {
    text-align: left;
    padding-left: 30px;
    margin: 0;
    list-style: none;
}

.bbox-box__list-el {
    position: relative;
    margin-bottom: 8px;
    font-weight: 300;
}

    .bbox-box__list-el:before {
        content: "✓";
        position: absolute;
        left: -25px;
        font-size: 18px;
        top: -4px;
    }

.bbox-box--purple .bbox-box__list-el:before {
    color: #8a3aff;
}

.bbox-box--violet .bbox-box__list-el:before {
    color: #6f79ff;
}

.bbox-box--blue .bbox-box__list-el:before {
    color: #3a9fff;
}

.bbox-box__wrap:hover {
    backface-visibility: hidden;
    transform: scale(1.05, 1.05);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
}

.btn {
    background-color: #3a9fff;
    border-radius: 20px;
    padding: 10px 25px;
    color: #fff;
    box-shadow: 0px 18px 13px -6px rgba(0, 0, 0,0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}



    .btn:hover {
        box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
        background-color: #63b2fc;
        color: #fff;
    }

.bbox-box__wrap:hover .btn {
    box-shadow: 0px 25px 18px -6px rgba(0, 0, 0,0.2);
}

.btn--revert {
    background-color: transparent;
    color: #8198ae;
    box-shadow: none;
    border: 1px solid #c9d9e9;
}

    .btn--revert:hover {
        background-color: transparent;
        color: #1f4568;
        box-shadow: none;
        border: 1px solid #8198ae;
    }


.btn--purple {
    background-color: #8a3aff;
}

    .btn--purple:hover {
        background-color: #b284f6;
    }

.btn--violet {
    background-color: #6f79ff;
}

    .btn--violet:hover {
        background-color: #878ef3;
    }

.btn--blue {
    background-color: #3a9fff;
}

    .btn--blue:hover {
        background-color: #63b2fc;
    }

.btn--width {
    width: auto;
}

.btn--white {
    background-color: #fff;
    border: 1px solid #ededed;
    color: #8198ae;
}

    .btn--white:hover {
        background-color: #fff;
        color: #8198ae;
    }

.bbox-box__btn {
    position: absolute;
    bottom: -17px;
    left: 50%;
    margin-left: -55px;
}

.row__sub--light {
    color: #aec0d2;
}

.item__img {
    width: 25px;
    margin-right: 10px;
}

.carousel {
    margin-top: 15px;
}

.row__carousel {
    display: inline-block;
    float: none;
    border-radius: 6px;
}

.row--text-center {
    text-align: center;
}

.carousel-control {
    opacity: 1;
    background-image: none !important;
}

    .carousel-control.left {
        left: -100px;
    }

    .carousel-control.right {
        right: -100px;
    }

.carousel-inner {
    margin-top: -25px;
}

.carousel-control__img {
    position: absolute;
    top: 50%;
    margin-top: -90px;
}

.carousel-control.left .carousel-control__img {
    left: 0;
}

.carousel-control.right .carousel-control__img {
    right: 0;
}

.carousel-indicators li {
    height: 12px;
    width: 12px;
    background-color: #fff;
    border: 2px solid #8198ae;
    margin-right: 8px;
}

    .carousel-indicators li.active {
        height: 14px;
        width: 14px;
        background-color: #fff;
        border: 3px solid #6f79ff;
        margin-right: 10px;
    }

.item {
    text-align: left;
    position: relative;
    padding: 25px 15px 0px 25px;
}

.item__content {
    padding: 40px;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    background-color: #fff;
    position: relative;
    height: 305px;
}

.item__img {
    display: inline-block;
}

.item__name {
    display: inline-block;
    font-size: 22px;
    vertical-align: middle;
    font-weight: 700;
}

.item__description {
    margin-top: 35px;
    color: #8198ae;
    line-height: 23px;
}

.item__avatar {
    height: 45px;
    width: 45px;
    background-image: url("https://static.pexels.com/photos/428333/pexels-photo-428333.jpeg");
    background-size: cover;
    border-radius: 50%;
    margin: 50px auto 15px auto;
}

.carousel-indicators {
    width: auto;
    margin: 0;
    right: 68px;
    text-align: right;
    top: 72px;
    left: auto;
    bottom: auto;
}

.item__content:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    bottom: -20px;
    position: absolute;
    left: 50%;
    margin-left: -23px;
    filter: drop-shadow(0px 7px 4px rgba(0,0,0,.2));
}

.item__people {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.item__occupation {
    font-size: 14px;
    color: #8198ae;
    text-align: center;
}

.site {
    text-align: center;
}

.site__title {
    font-size: 30px;
    margin: 0;
    text-align: center;
}

.site__subtitle {
    font-size: 22px;
    color: #8198ae;
    margin: 15px 0 40px 0;
    text-align: center;
}

.site__img {
    margin-top: 50px;
    display: inline-block;
    width: 77%;
}

.site__box-link .btn--revert {
    margin-left: 15px;
}


/*menu header*/
.header {
    padding: 30px 25px;
}

.header__elenco {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__menu {
    float: right;
}

.header__el {
    padding: 0 25px;
    display: inline-block;
}

.header__img {
    display: inline-block;
    vertical-align: middle;
}

.header__logo, .header__menu {
    display: inline-block;
    vertical-align: middle;
}

.header__title {
    font-size: 18px;
    margin: 0;
    margin-left: 10px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
}

.header__light {
    color: #8198ae;
}

.header__link {
    color: #1f4568;
    font-size: 14px;
}

    .header__link:hover {
        text-decoration: none;
        color: #3a9fff;
    }

.navbar-toggle .icon-bar {
    background-color: #8198ae;
}

.navbar-toggle {
    margin: 5px 0;
}

.article-pre__col {
    padding: 0 30px;
    margin-bottom: 30px;
}

.article-pre__img {
    height: 0;
    background-position: center;
    background-size: cover;
    padding-bottom: 55%;
    border-radius: 6px;
    box-shadow: 0 4px 10px 2px rgba(0,0,0,0.3);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
}

.article-pre__img--first {
    background-image: url(https://cdn.dribbble.com/users/18730/screenshots/2182635/newshot.png);
}

.article-pre__img--second {
    background-image: url(https://image.ibb.co/cYsvbw/dribbble.jpg);
}

.article-pre__img--third {
    background-image: url(https://cdn.dribbble.com/users/103909/screenshots/3671664/sensors-01.jpg);
}

.article-pre__img--fourth {
    background-image: url(https://cdn.dribbble.com/users/997070/screenshots/4120967/attachments/943230/01-1._Cover_Copy_2x.png);
}

.article-pre:hover .article-pre__img {
    box-shadow: 0px 10px 13px 4px rgba(0, 0, 0,0.2);
}

.article-pre:hover {
    text-decoration: none;
}

.article-pre__info {
    font-size: 16px;
    color: #8198ae;
    margin: 0;
    padding: 25px 25px 0 25px;
}

.article-pre__date {
    float: right;
}

.article-pre__title {
    font-size: 20px;
    color: #1f4568;
    margin: 0;
    padding: 15px 25px;
}

.article-pre__arrow--purple {
    color: #8a3aff;
}

.contacts_title-ag {
    margin: 0;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    margin-left: 10px;
}

.contacts__link {
    color: #1f4568;
}

.contacts--light {
    color: #8198ae;
}

.contacts__address {
    margin-top: 20px;
    color: #8198ae;
    font-size: 16px;
    line-height: 27px;
    padding-bottom: 12px;
    margin-bottom: 17px;
    position: relative;
}

    .contacts__address:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 1px;
        background-color: #8198ae;
        bottom: 0;
        left: 0;
    }

.contacts__info {
    color: #8198ae;
    font-size: 16px;
    margin-bottom: 2px;
}

.contacts__info-link {
    color: #3a9fff;
    text-decoration: none;
}
/*
.form-group {
    margin-bottom: 20px;
    display: table;
    width: 100%;
    position: relative;
}
*/
.form__field {
    height: 50px;
    position: relative;
    border: none;
    padding: 10px 12px;
    width: 100%;
    border-radius: 6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
    z-index: 2;
}

.form__select {
    background-image: url('http://www.austinlawrencepartners.com/wp-content/uploads/arrow-down-gray-hi.png');
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 97%;
    width: 100%;
    padding-right: 30px;
    background-position-y: center;
    background-color: #fff;
    color: #8198ae;
}

.form__field--half {
    width: 50%;
    float: left;
}

    .form__field--half:first-of-type {
        padding-right: 15px;
    }


.form__textarea {
    height: 200px;
}

.btn--up {
    position: absolute;
    bottom: -15px;
    right: 25px;
    z-index: 3;
}

.career_title {
    color: #fff;
    font-size: 28px;
}

.career_sub {
    font-size: 22px;
    color: #c7cbff;
    margin-top: 0;
    margin-bottom: 30px;
}

.career-img {
    position: absolute;
    bottom: 0;
    width: 65%;
    z-index: 0;
    left: 20%;
}


.footer {
    background-color: #1f4467;
    padding: 40px 0;
}

.footer__title {
    font-size: 18px;
    margin: 0;
    margin-left: 0px;
    margin-left: 10px;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    color: #3a9fff;
}

.footer__light {
    color: #fff;
}

.footer__social {
    float: right;
}

.footer__social-l {
    margin-left: 15px;
    vertical-align: middle;
}

@media screen and (max-width:1024px) {
    .collapse {
        display: none;
    }

    .navbar-toggle {
        margin: 0;
        display: inline-block;
        margin-right: 10px;
        margin-top: 10px;
    }

    .header__container {
        width: 100%;
        padding: 0;
    }

    .header__menu {
        width: 100%;
    }

    .header {
        background-color: #fff;
        padding: 0;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 4;
    }

    .header__logo {
        padding: 12px 20px 12px 20px;
    }

    .header__el {
        display: block;
        padding: 10px 20px;
        border-top: 1px solid #ededed;
    }

    .header .btn--white, .header .btn--white:hover {
        padding: 0;
        border: 0;
        box-shadow: none;
        color: #fff;
        background-color: transparent;
    }

    .header__el--blue {
        background-color: #3a9fff;
    }
}


@media screen and (max-width:991px) {
    .bbox-box {
        padding: 0px 10px;
    }

    .carousel-control.left {
        left: -25px;
    }

    .carousel-control.right {
        right: -25px;
    }

    .item__content {
        height: auto;
    }
}

@media screen and (max-width:767px) {
    .footer {
        padding: 25px 0;
    }

    .bbox-box {
        padding: 0px 35px;
        margin-bottom: 50px;
    }

    .site__img {
        width: 100%;
    }

    .item__content {
        padding: 20px;
    }

    .item__description {
        font-size: 12px;
        line-height: 20px;
    }

    .article-pre__info {
        padding: 25px 10px 0 10px;
        font-size: 14px;
    }

    .article-pre__title {
        padding: 10px 10px;
        font-size: 16px;
    }

    /*    .form {
        margin-top: 30px;
    }

    .form__field--half:first-of-type {
        margin-bottom: 10px;
        padding-right: 0px;
    }

    .form__field--half {
        width: 100%;
        float: none;
    }

    .form-group {
        margin-bottom: 10px;
    }
}

*/

    @media screen and (max-width:480px) {
        .bbox-box {
            padding: 0px 20px;
        }

        .carousel-control__img {
            width: 20px;
        }

        .carousel-control.left {
            left: -5px;
        }

        .carousel-control.right {
            right: -5px;
        }

        .partner {
            width: 100%;
        }

        .footer {
            padding: 15px 0;
        }

        .footer__img {
            width: 15px;
        }

        .footer__title {
            font-size: 16px;
            margin-left: 5px;
        }

        .sect {
            padding: 20px 0;
        }

       
        .row__sub {
            font-size: 16px;
        }

        .row__title {
            font-size: 20px;
            margin-bottom: 5px;
        }

        .bbox-box__title {
            font-size: 18px;
            margin-top: 10px;
        }

        .bbox-box__img {
            width: 100px;
            height: 100px;
        }

        .bbox-box__wrap {
            padding: 20px 20px 30px 20px;
        }

        .bbox-box__people {
            font-size: 10px;
            font-weight: 400;
        }

        .bbox-box__discount {
            font-size: 22px;
        }

        .bbox-box__bbox {
            font-size: 12px;
        }

        .bbox-box__feat {
            margin-top: 15px;
            font-size: 14px;
        }

        .bbox-box__list-el {
            font-size: 12px;
            margin-bottom: 5px;
        }

        .site__title {
            font-size: 24px;
        }

        .site__subtitle {
            font-size: 18px;
            margin: 10px 0 20px 0;
        }

        .site__img {
            margin-top: 30px;
        }

        .row--margin {
            margin-top: 30px;
        }

        .btn {
            font-size: 12px;
            padding: 8px 8px;
        }

        .btn--width {
            width: 100px;
        }

        .career_title {
            font-size: 18px;
            margin-top: 0;
        }

        .career_sub {
            font-size: 14px;
            margin-bottom: 20px;
        }

        .carousel-indicators {
            display: none;
        }

        .item__name {
            font-size: 18px;
        }

        .item__description {
            margin-top: 18px;
        }

        .article-pre__date {
            font-size: 12px;
            float: none;
        }
    }
}

/*mon css*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.my-nav{
background-color : forestgreen;
}

.my-nav .navbar-brand {
        color: aliceblue;
 }

.my-nav .navbar-brand:hover {
 color: aquamarine;
 }

.my-nav .nav-link {
        color: aliceblue ;
}

.my-nav .nav-link:hover {
   color: aquamarine;
}*/

/*for image*/
.gallery {
    margin: 10px 50px;
}

    .gallery div {
        transition: 1s;
        /*padding: 15px;
        width: 200px;*/
    }

        .gallery div:hover {
            filter: grayscale(50%);
            transform: scale(1.05);
        }

/*for détails job*/
.product-title, .price, .sizes, .colors {
    text-transform: UPPERCASE;
    font-weight: bold;
}

    .checked, .price span {
        color: #ff9f1a;
    }

.product-title, .rating, .product-description, .price, .vote, .sizes {
    margin-bottom: 15px;
}

.product-title {
    margin-top: 0;
}

.price span {
    color: #ff9f1a;
}

.box {
    background: #fff;
    border-radius: 4px;
    padding-bottom: 100%;
}

    .box .col-lg-2 {
        margin-top: 30px !important;
    }

div.panel-body {
    overflow: scroll;
    background: url('http://subtlepatterns.com/patterns/geometry2.png');
}

/*formulaire*/

.formulaire {
    border-radius: 15px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 -1px 4px 0 rgba(26,26,26,.08), 0 4px 8px 0 rgba(26,26,26,.12);
}


/*Typing animate*/
.containe {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .containe p {
        font-size: 3rem;
        padding: 0.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-align: center;
        overflow: hidden;
    }

        .containe p span.typed-text {
            font-weight: normal;
            color: #dd7732;
        }

        .containe p span.cursor {
            display: inline-block;
            background-color: #ccc;
            margin-left: 0.1rem;
            width: 3px;
            animation: blink 1s infinite;
        }

            .containe p span.cursor.typing {
                animation: none;
            }

@keyframes blink {
    0% {
        background-color: #ccc;
    }

    49% {
        background-color: #ccc;
    }

    50% {
        background-color: transparent;
    }

    99% {
        background-color: transparent;
    }

    100% {
        background-color: #ccc;
    }
}
.ico {
    margin-left: 10px;
    font-size: 20px;
    border: 2px solid #1f4467;
    color: #1f4467;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: bold;
}
    .ico:hover {
        color: #3a9fff;
        border-color: #3a9fff;
    }

    /*logo*/
    .logo{
        width : 170px;
       
    }

    /*carousel image*/
/*.carousel-inner .item {
    height: 350px;
    background-size: cover;
    background-position: center center;
}
.carousel-inner .item img {
        width: 100%;
        height: auto;
    }
*/
@media only screen and (max-width: 600px) {
    .carousel-inner .item {
        height: 300px;
        background-size: cover;
        background-position: center center;
    }
    .carousel-inner .item img {
            width: 100%;
            height: auto;
        }
}
@media only screen and (min-width: 600px) {
    .carousel-inner .item {
        height: 400px;
        background-size: cover;
        background-position: center center;
    }

        .carousel-inner .item img {
            width: 90%;
            height: 300px;
        }
}
button .bouton{
    width:200px;
}
/*.btn-block {
    background: #fff;
    -webkit-box-shadow: 0 -1px 4px 0 rgba(26,26,26,.08), 0 4px 8px 0 rgba(26,26,26,.12);
    box-shadow: 0 -1px 4px 0 rgba(26,26,26,.08), 0 4px 8px 0 rgba(26,26,26,.12);
    padding: 20px;
    width: 100%;
    position:fixed;
    z-index: 999;
}*/

/*menu des details annonce*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

.fa-2x {
    font-size: 2rem;
}

.fa {
    position: relative;
    text-align: center;
    vertical-align: middle;
    font-size: 2rem;
}

.main-nav {
    background: #ECC264;
    border-right: 1px solid #e5e5e5;
    position: fixed;
    z-index: 1000;
}

    .main-nav > ul {
        margin: 0rem 0rem;
    }

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 0;
}

.main-nav li:hover > a,
nav.main-nav li.active > a {
    color: #fff;
    background-color: #919191;
}

.main-nav .nav-text, .main-nav li > a {
    font-family: 'Roboto', sans-serif;
}

.main-nav li > a {
    border-collapse: collapse;
    border-spacing: 0;
    color: white;
    font-size: 1.03rem;
    text-decoration: none;
}

/*@media (min-width:35.1em) {
    .fa {
        display: table-cell;
        width: 5rem;
        height: 5rem;
    }

    .main-nav:hover,
    nav.main-nav.expanded {
        width: 15em;
        overflow: visible;
    }

    .main-nav {
        top: 0;
        bottom: 0;
        height: 100%;
        left: 0;
        width: 5rem;
        overflow: hidden;
        -webkit-transition: width .05s linear;
        transition: width .05s linear;
        -webkit-transform: translateZ(0) scale(1, 1);
    }

        .main-nav li {
            position: relative;
            display: block;
            width: 18rem;
        }

            .main-nav li > a {
                position: relative;
                display: table;
                -webkit-transform: translateZ(0) scale(1, 1);
                -webkit-transition: all .1s linear;
                transition: all .1s linear;
            }

        .main-nav .nav-text {
            position: relative;
            display: table-cell;
            vertical-align: middle;
            width: 10rem;
        }
}
*/

@media (max-width:35em) {

    .main-nav {
        background: #ECC264;
        border-right: 1px solid #e5e5e5;
        position: fixed;
        margin: 0;
        left: 0;
        bottom: 0;
        /*height: 5em;*/
        width: 100%;
    }

        .main-nav ul {
            display: table;
            width: 100%;
        }

        .main-nav li {
            float: left;
            width: 25%;
            list-style-type: none;
            text-align: center;
        }

        .main-nav a {
            display: block;
            padding: 5px;
            height: 74px;
        }

        .main-nav i, .main-nav span {
            display: block;
        }

        .main-nav span {
            font-size: 14px;
        }
}



////////////for about //// /////////
/*======================================
//--//-->   STYLES Qui somme nous?
======================================*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,200italic,300,300italic,400italic,600,600italic,700,700italic,900,900italic);

body {
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

.heading-title {
    margin-bottom: 100px;
}

.text-center {
    text-align: center;
}

.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: normal;
}

.p-top-30 {
    padding-top: 30px;
}

.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}

.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
}

.team-member {
    overflow: hidden;
}

    .team-member, .team-member .team-img {
        position: relative;
    }

.team-hover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.team-member:hover .team-hover .desk {
    top: 35%;
}

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    padding: 0 20px;
}

.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}

.team-member:hover .team-hover .s-link {
    bottom: 10%;
}

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}

.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}

    .desk, .desk h4, .team-hover .s-link a {
        text-align: center;
        color: #222;
    }

.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}

.team-title {
    position: static;
    padding: 20px 0;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
}

    .team-title h5 {
        margin-bottom: 0px;
        display: block;
        text-transform: uppercase;
    }

    .team-title span {
        font-size: 12px;
        text-transform: uppercase;
        color: #a5a5a5;
        letter-spacing: 1px;
    }

/*------/ Intro Single /------*/

.intro-single {
    padding: 12rem 0 3rem;
}

    .intro-single .title-single-box {
        padding: 1rem 0 1rem 2rem;
    }

    .intro-single .title-single-box {
        border-left: 3px solid #2eca6a;
    }

        .intro-single .title-single-box .title-single {
            font-weight: 600;
            font-size: 2.2rem;
        }

    .intro-single .breadcrumb-box {
        padding: 1rem 0 0 .5rem;
    }

    .intro-single .breadcrumb {
        background-color: transparent;
        padding-right: 0;
        padding-left: 0;
    }

@media (max-width: 991px) {
    .property-contact {
        margin-top: 2.5rem;
    }
}

.section-t8 {
    padding-top: 4rem;
}

.section-t4 {
    padding-top: 2rem;
}

.section-md-t3 {
    padding-top: 3rem;
}

.section-tb85 {
    padding: 4rem 0 2.5rem 0;
}

.intro-single {
    padding-top: 9rem;
}

/*------/ Icon Box /------*/

.icon-box .icon-box-icon {
    display: table-cell;
    vertical-align: top;
    font-size: 36px;
    color: #000000;
    width: 50px;
    padding-top: 8px;
}

.icon-box .icon-box-content {
    padding-top: 18px;
}

/*------/ Space Padding /------*/

.section-t8 {
    padding-top: 8rem;
}

.section-t4 {
    padding-top: 4rem;
}

.section-t3 {
    padding-top: 3rem;
}

.section-b2 {
    padding-bottom: 2rem;
}

.section-tb85 {
    padding: 8rem 0 5rem 0;
}

.labelColor{
    color:darkgray;
}

/*Loading image gif*/
.content {
    display: none;
}

.preload {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
}

*======================================
//--// --> FOOTER
======================================*/

.section-footer {
    padding-top: 60px;
    margin-top: 60px;
    background: #f3f3f3;
}

.section-footer ul {
    line-height: 2;
}

.section-footer .item-list-a i {
    font-size: 18px;
    padding-right: 4px;
    color: #2eca6a;
}

.section-footer .widget-a .w-title-a {
    margin-bottom: 1rem;
}

footer {
    background: #f3f3f3;
    text-align: center;
    padding: 30px 0;
}

    footer .copyright-footer {
        border-top: 1px solid #ddd;
        padding-top: 20px;
    }

    footer .credits {
        font-size: 14px;
    }