@{
    ViewBag.Title = "Déposer une annoce sur lookaukwat";
}
<br />
    <section class="row">
        <div class="row">
            <div class=" col-md-offset-4 form-group">
                <h2 class="text-success">Ajouter une annonce sur LookAuKwat?</h2>
                <label for="selectCategory">Choisir une catégorie</label>
                <select class="form-control Addcategory" data-show-icon="true">
                    <option>Tout</option>
                    <option data-content="<i class='glyphicon glyphicon-briefcase'></i>">Emploi</option>
                    <option data-content="<i class='glyphicon glyphicon-home'></i>">Immobilier</option>

                </select>
            </div>
        </div>
        <div class="row">
            <div id="MyModalAddJob" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="color:coral">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ajouter ou chercher tout type d'emploi<span id="eventTitle"></span></h4>
                        </div>
                        <div class="modal-body">

                            @{
                                Html.RenderAction("AddJobs_PartialView", "Job");
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="MyModalAddApartment" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="color:darkturquoise">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Ajouter ou chercher tout type de biens immobiliers<span id="eventTitle"></span></h4>
                        </div>
                        <div class="modal-body">

                            @{
                                Html.RenderAction("AddApartment_PartialView", "ApartmentRental");
                            }

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<hr />
<section>
    <div class="col-md-12">
        <div class=" row">
            <p>En <strong>version mobile</strong>, pour modifier <span class="btn btn-success glyphicon glyphicon-edit"></span> , voir les détails <span class="btn btn-danger glyphicon glyphicon-eye-open"></span>
             et supprimer <span class="btn btn-danger glyphicon glyphicon-trash"></span> les annonces, il faut juste parcourir tout le tableau de la gauche vers la droite</p>
        </div>
        <div class="row" style="height:7px">
            <div class="row alert alert-success js-alert hidden" role="alert">
                Annonce ajoutée avec succès dans la liste !
            </div>
            <div class="row alert alert-success js-alert-Edit-product hidden" role="alert">
                Annonce Modifiée avec succès dans la liste !
            </div>
            <div class="row alert alert-danger js-alert-delete-Initiative hidden" role="alert">
                Annonce supprimée avec succès dans la liste !
            </div>
        </div>
        <br />
        <br />

        @{
            Html.RenderAction("GetListProductByUser_PartialView", "User");
        }
    </div>
</section>

<script type="text/javascript">
    $(function () {
        $("select.Addcategory").change(function () {
            var select = $(this).children("option:selected").val();
            
            if (select == "Emploi") {
                $('#MyModalAddJob').modal();
            } else if (select == "Immobilier") {
                $('#MyModalAddApartment').modal();

            }
        });


    });
</script>