@{
    ViewBag.Title = "Contact";
}

<section class="row">
    <div class="row">
        <div class="form-group">
            <label for="selectCategory">Choisir une catégorie</label>
            <select class="form-control" id="selectCategory" data-show-icon="true">
                <option data-content="<i class='glyphicon glyphicon-briefcase'></i>">Emploi</option>
                <option data-content="<i class='glyphicon glyphicon-home'></i>">Immobilier</option>
               
            </select>
        </div>
    </div>
    <div class="row">
        @{ 
            Html.RenderAction("AddJobs_PartialView", "Job");
        }
    </div>
</section>