@{
    ViewBag.Title = "Home Page";
}
    <section>
        <ul class="nav nav-pills">
            <li class="active"><a href="#search" data-toggle="tab">Offres</a></li>
            <li ><a href="#ask" data-toggle="tab">Demandes</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active fade in" id="search">
                <div id="searchJob">
                        <div class="form-group">
                            <label for="selectCategory">Choisir une catégorie</label>
                            <select class="form-control Addcategory" data-show-icon="true">
                                <option>Tout</option>
                                <option data-content="<i class='glyphicon glyphicon-briefcase'></i>">Emploi</option>
                                <option data-content="<i class='glyphicon glyphicon-home'></i>">Immobilier</option>
                            </select>
                        </div>
                        <div>
                            @{
                                Html.RenderAction("AddJobs_PartialView", "Job");
                            }

                        </div>
                    Future Offres
                </div>
            </div>
            <div class="tab-pane fade " id="ask">
                <div id="askJob">
                    <div class="form-group">
                        <label for="selectCategory">Choisir une catégorie</label>
                        <select class="form-control Addcategory" data-show-icon="true">
                            <option>Tout</option>
                            <option data-content="<i class='glyphicon glyphicon-briefcase'></i>">Emploi</option>
                            <option data-content="<i class='glyphicon glyphicon-home'></i>">Immobilier</option>
                        </select>
                    </div>
                    future demande
                </div>
            </div>
        </div>

    </section>